<div class="c-global">
  <div class="w-embed">
    <style>
      /* Max Font Size */
      @media screen and (min-width: 1400px) {
        body {
          font-size: 16px;
        }
      }
    </style>
  </div>
  <div class="c-nav">
    <div class="container">
      <div class="grid-wrapper">
        <div class="nav-col1">
          <a href="#" class="nav-logo w-inline-block"><img src="./assets/logo.png" loading="lazy" alt="" /></a>
        </div>
        <div class="nav-col2">
          <nav class="nav-col2">
            <a class="button is-nav w-inline-block" routerLink="/">
              <div>Home</div>
            </a>
            <a class="button is-light w-inline-block" routerLink="/login">
              <div>Login</div>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section is-hero wf-section">
  <div class="home_hero-bg"></div>
  <div class="container">
    <div class="padding">
      <div class="grid-wrapper is-hero">
        <div class="home_hero-col1">
          <div class="hero-heading-wrapper">

            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section is-footer wf-section">
  <div class="container">
    <div class="padding is-footer">
      <div class="grid-wrapper is-footer">
        <div class="footer-col1">
          <a href="#" class="nav-logo is-footer w-inline-block">
            <img src="./assets/logo.png" loading="lazy" alt="" />
          </a>
          <p>{{address}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
